


<table class="table ">
	<tr>
		<td><b>Origin</b></td>
		<td><%= @calculator.origin %></td>
	</tr>

	<tr>
		<td><b>Destination</b></td>
		<td><%= @calculator.destination %></td>
	</tr>

	<tr>
		<td><b>Weight</b></td>
		<td><%= @calculator.weight %></td>
	</tr>

	<tr>
		<td><b>Length x Width x Height</b></td>
		<td><%= @calculator.length %> x <%= @calculator.width %> x <%= @calculator.height %></td>
	</tr>

	<tr>
		<td><b>Price</b></td>
		<td>
			<ul>
				<li>USPS : $55</li>
				<li>UPS : $120</li>
				<li>FEDEX : $134</li>
				<li>DHL : $90 </li>

			</ul>

		</td>
	</tr>


	
</table>

<button class="btn btn-success btn-lg"> YES! I WANNA SHIP THIS PACKAGE </button>


<br>
<br>
<br>