<div class="panel panel-default">
   
   <div class="panel-heading">
   <%= link_to article_path(article) do %>
         <span style="font-size:1.4em;"><%= is_past_discount article.hasExpiryDate, article.expire_time, article.discount %></span>&nbsp;&nbsp; 
         <h2><span class="text-primary"><%= article.title%></span></h2>
         <div class="pull-right">
            <%if article.hasExpiryDate %>
               <%= is_past_expire_time article.expire_time %>&nbsp;  
            <% end %>
            
            <%= render_view_number article.impressionist_count %> 
               <%= fa_icon "lg eye", text: " : " %><%= article.impressionist_count %>
            </span>
            
         </div>
         <br>
   <% end %>    
   </div> 
   
   <div class="panel-body">
      <br>
      <div class="row">
	    <div class="col-sm-5"> 
	    	<%= image_tag article.avatar.url(:medium), :class => "img-thumbnail" %>
		</div>
	    <div class="col-sm-7">	
	      <%= raw article.content %>

     	</div>
      </div>  
      <br>
      


   </div>
   
   <div class="panel-footer">

   		<div class="pull-right">
   			post @ <%= article.updated_at.to_s(:long)%>
   		</div>

   		<div>
            <% if article.brand.present? %>
               <strong>Brand: </strong><%= article.brand %>&nbsp;&nbsp;
            <% end %>  
            <strong>Store: </strong><%= link_to article.store, "#{article.link}", :target => "_blank" %>
            <br>
            <% if article.tag_counts_on(:tags).present? %> 
      			<%= fa_icon "lg tags", text: ":" %> <% tag_cloud(article.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
                  <span class="label label-success"><%= link_to "# #{tag.name}", tag_path(tag), :class => css_class %></span>
               <% end %>
            <% end %>
   		</div>
   </div>
</div>